.contact-div {
  display: flex;
  background-color: #edf5fa;
  margin: 13px;
  height: 95px;
  text-align: center;
}

.contact-div .h1-contact {
  margin-left: 160px;
  padding: 31px;
}

#form-support {
  background-color: #fcf5ec;
  border-radius: 6px;
  height: 450px;
  width: 93%;
  margin-left: 40px;
  margin-top: 50px;
  padding: 45px;
}

.contact-body {
  padding: 60px;
}

.contact-body .input-contact {

  height: 40px;
  padding: 10px;
  width: 300px;
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 25px;
}

.contact-body .textarea-contact {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 25px;
  padding: 10px;
}

.contact-body .contact-buttn {
  height: 36px;
  width: 190px;
  margin-left: 145px;
  margin-top: 30px;
  background: #0A8080;
  border: 1px;
  border-radius: 4px;
  color: white;
}

/*adresse side */
#contact-support {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 70px;
  margin-top: 70px;
  text-align: center;
}

.contact-details {
  display: flex;
  justify-items: center;
}

.contact-details p {
  padding: 20px;
  margin-top: 30px;
}

.contact-input-bottom {
  display: flex;
}